*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*"Productivity Styling"*/

h1{
  display:flex;
  color: green;
  justify-content: center;
  margin-top:25px;
  margin-bottom:25px;
  font-family: 'Poiret One', cursive;
}

.pictures{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
}

img{
  width:32%;
  height:400px;

}


@media screen and (max-width:1074px){

  .pictures{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
  }

img{
  display:flex;
  width:48%;
  height:400px;
  margin-bottom:


}

}

/* @media screen and (max-width:900px){

  .pictures{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: green;
  }
img{
  display:flex;
  height:300px;
  width:300px;
  margin-left: 30px;


}
} */
